body {
    font-family: 'Arial', sans-serif;
    background-color: #8a8686;
  }
  
  .container {
    max-width: 50px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #333333;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .input-container input[type="text"]:focus {
    border-color: #61dafb;
    outline: none;
  }
  
  .input-container button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #61dafb;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .input-container button:hover {
    background-color: #45b8d8;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  
  li span {
    flex-grow: 1;
    padding: 10px;
    color: #333333;
  }
  
  li button {
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    background-color: #ff0000;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  li button:hover {
    background-color: #000000;
  }